<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarea N° 2</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <h1>🍽️ Recetario Web - 2025 - Potrero Digital - Alexis Roldán 🍽️</h1>
    <h2>Bienvenidos a mi pagina de receta de cocinas</h2>

    <div>
        <h2>🍝 Spaghetti con Salsa Bolognesa</h2>
        <div>
            <img class="img-receta" src="../images/spaghetti.jpg" alt="Spaghetti">
        </div>
        <p>Un clasico de domingo de frio y comerlo en familia</p>

        <h3>🧂 Ingredientes: </h3>
        <ul>
            <li>200 g de spaghetti</li>
            <li>250 g de carne picada</li>
            <li>1 cebolla</li>
            <li>1 Morron Rojo</li>
            <li>250g de Pure de tomate</li>
            <li>Sal, pimienta y especias a gusto</li>
            <li>Queso Rallado</li>
        </ul>

        <h3>👣 Pasos: </h3>
        <ol>
            <li>Hervir los spaghetti en agua con sal hasta que estén al dente.</li>
            <li>En otra sartén, saltear la cebolla y el morron hasta que se doren</li>
            <li>Agregar la carne picada y cocinar hasta que se dore todo los ingredientes</li>
            <li>Incorporar el pure de tomate y salpimentar a gusto</li>
            <li>Cocinar a fuego bajo por 15 minutos</li>
            <li>Servir la pasta con la salsa por encima y queso rallado</li>
        </ol>

        <iframe width="500" height="250" src="https://www.youtube.com/embed/EHZ5XMl8bM4?si=rRaRnTX1F5vKE8vQ"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    </div>

    <div>

    </div>
    <a href="../../index.html">Volver al Inicio</a> <br>
    <a href="https://elgourmet.com/recetas/spaghetti-a-la-bolognesa-2/" target="_blank">Enlace a Receta de elGourmet</a><br>
    <a href="spaghetti.html">Enlace a nuestra receta!!!</a>

</body>

</html>