<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarea N° 2</title>
        <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <h1>🍽️ Recetario Web - 2025 - Potrero Digital - Alexis Roldán 🍽️</h1>
    <h2>Bienvenidos a mi pagina de receta de cocinas</h2>

    <div>
    <div>
        <h2>🎂 Torta de Chocolate Casera</h2>
        <div>
            <img class="img-receta" src="../images/torta.webp"
                alt="Torta">
        </div>
        <p>Una torta llena de sabor a chocolate. Ideal para cumpleaños.</p>

        <h3>🧂 Ingredientes: </h3>
        <ul>
            <li>2 tazas de harina</li>
            <li>1 taza de cacao en polvo</li>
            <li>1 y 1/2 taza de azúcar</li>
            <li>3 huevos</li>
            <li>1 taza de leche</li>
            <li>1/2 taza de aceite</li>
            <li>1 cucharadita de esencia de vainilla</li>
            <li>1 cucharada de polvo de hornear</li>
            <li>1 pizca de sal</li>
        </ul>
        <h3>👣 Pasos: </h3>
        <ol>
            <li>Precalentar el horno a 180°C (350°F).</li>
            <li>En un bol grande, mezclar los ingredientes secos: harina, cacao, azúcar, sal y polvo de hornear.</li>
            <li>Agregar los huevos, leche, aceite y esencia de vainilla. Batir hasta obtener una mezcla homogénea.</li>
            <li>Verter la mezcla en un molde enmantecado y enharinado.</li>
            <li>Hornear durante 35-40 minutos o hasta que al pinchar con un palillo, éste salga limpio.</li>
            <li>Dejar enfriar, desmoldar y decorar a gusto (puede ser con ganache, azúcar impalpable o frutas).</li>
        </ol>
        <iframe width="500" height="250" src="https://www.youtube.com/embed/ikxTE625P4o?si=72q2p4y1DiJy_fQ7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>



    </div>
<a href="../../index.html">Volver al Inicio</a> <br>
<a href="https://cookpad.com/ar/recetas/3051235" target="_blank">Receta a Cookpad</a><br>
<a href="torta.html">Enlace a nuestra receta!!</a>
</body>

</html>